---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchWithAIComponent from "@components/SearchWithAI";
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="searchWithAI" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchWithAIComponent client:load />
  </Main>
  <Footer />
</Layout>
