---
import type { LocaleCode } from "@utils/locale";

interface Props {
  locale?: LocaleCode;
}

const { locale = "ko" } = Astro.props;
---

<section class="giscus flex w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="Hanna922/hanna.dev"
  data-repo-id="R_kgDOLiYl4A"
  data-category="Blog Posts Comments"
  data-category-id="DIC_kwDOLiYl4M4CfBHr"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light_high_contrast"
  data-lang={locale}
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
